body {
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, #C6D57E, #14279B, #57CC99, #B1FFFD, #F4F9F9);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    @keyframes identifier color {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}